

					<footer id="myFooter">
							<div class="container">
									<div class="row">
											<div class="col-sm-3">
													<h5>Get started</h5>
													<ul>
															<li><a href="#">Home</a></li>
															<li><a href="#">Sign up</a></li>
															
													</ul>
											</div>
											<div class="col-sm-3">
													<h5>About us</h5>
													<ul>
															<li><a href="#">Company Information</a></li>
															<li><a href="#">Contact us</a></li>
															<li><a href="#">Reviews</a></li>
													</ul>
											</div>
									
											<div class="col-sm-6">
													<h5>Contact</h5>
													<ul>
															<li><a >Address :  Chougurzee , Etawah</a></li>
															<li><a >Email: saxenadeepesh2012@gmail.com </a></li>
															<li><a >Mobile : 9412184482</a></li>
															
													</ul>
											</div>
                                    </div>
                                    </div>
                                    




                                    <div id="contact" class="contact-area gray-bg ptb-130">
                                            <div class="container-fluid">
                                                    <div class="row">
                                                            <form id="contact-form" action="/signup" method="POST" style="" class="col-md-6 col-xs-12">
                                                                    <div class="row">
                                                                            <div class="all-contact-text">
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact">
                                                                                                    <input name="name" class="form-control" type="text" required="" placeholder="Name">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact">
                                                                                                    <input name="email" class="form-control" type="email" required="" placeholder="Email">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact">
                                                                                                    <input name="telephone" class="form-control" type="text" required="" placeholder="Tel">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact contact-mrgn">
                                                                                                    <input name="subject" class="form-control" type="text" required="" placeholder="Subject">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-xs-12">
                                                                                            <div class="tnm-textarea">
                                                                                                    <textarea name="message" class="form-control" required="" placeholder="Message"></textarea>
                                                                                            </div>
                                                                                            <div class="submit">
                                                                                                    <input class="submit" type="submit" value="Send message">
                                                                                            </div>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            </form>
                                                            <div class="col-md-6 col-xs-12">
                                                                    <div id="map" style="width:100%;height:200px;background:yellow"></div>

                                                                    <script>
                                                                //     function myMap() {
                                                                //     var mapOptions = {
                                                                //         center: new google.maps.LatLng(26.8117, 79.0047),
                                                                //         zoom: 10,
                                                                //         mapTypeId: google.maps.MapTypeId.HYBRID
                                                                //     }
                                                                //     var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                                                                //     }

                                                                function myMap() {
  
                                                                var myCenter = new google.maps.LatLng(26.8117, 79.0047);
                                                                        var mapCanvas = document.getElementById("map");
                                                                                 var mapOptions = {center: myCenter, zoom: 18};
                                                                                 var map = new google.maps.Map(mapCanvas,mapOptions);
                                                                                var marker = new google.maps.Marker({
                                                                                 position: myCenter,
                                                                                          animation: google.maps.Animation.BOUNCE
                                                                                                 });
                                                                                                         marker.setMap(map);
                                                                                        }

                                                                </script>
                                                                           

                                                                    
                                                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Ih4YLaItT1TjC4_pWIioOdtNi8KB2Ac&callback=myMap"></script>
                                                            </div>
                                                            <p class="form-messege"></p>
                                                    </div>
                                            </div>
                                    </div>




									<!-- Here we use the Google Embed API to show Google Maps. -->
									<!-- In order for this to work in your project you will need to generate a unique API key.  -->
									
							</div>
							<div class="social-networks">
									<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
							</div>
							<div class="footer-copyright">
									<p>© 2018 Copyright @ <a href="www.prakharsaxena.rf.gd">Prakhar Saxena</a> </p>
							</div>
                                        </footer>
                                </div>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
					<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
                                        <script>
                                                function openNav() {
                                                    document.getElementById("mySidenav").style.width = "250px";
                                                    document.getElementById("main").style.marginLeft = "250px";
                                                    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                                                }
                                                
                                                function closeNav() {
                                                    document.getElementById("mySidenav").style.width = "0";
                                                    document.getElementById("main").style.marginLeft= "0";
                                                    document.body.style.backgroundColor = "white";
                                                }
                                                </script>
                                                <script
                                                src="https://code.jquery.com/jquery-3.2.1.min.js"
                                                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                                                crossorigin="anonymous"></script>
                                                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  	
    </body>
    </html>