    
    
    

<footer id="myFooter">
							<div class="container">
									<div class="row">
											<div class="col-sm-3">
													<h5>Get started</h5>
													<ul>
															<li><a href="#">Home</a></li>
															<li><a href="#">Sign up</a></li>
															
													</ul>
											</div>
											<div class="col-sm-3">
													<h5>About us</h5>
													<ul>
															<li><a href="#">Company Information</a></li>
															<li><a href="#">Contact us</a></li>
															<li><a href="#">Reviews</a></li>
													</ul>
											</div>
									
											<div class="col-sm-6">
													<h5>Contact</h5>
													<ul>
															<li><a >Address :  Chougurzee , Etawah</a></li>
															<li><a >Email: saxenadeepesh2012@gmail.com </a></li>
															<li><a >Mobile : 9412184482</a></li>
															
													</ul>
											</div>
                                    </div>
                                    </div>
                                    




                                    <div id="contact" class="contact-area gray-bg ptb-130">
                                            <div class="container-fluid">
                                                    <div class="row">
                                                            <form id="contact-form" action="/signup" method="POST" style="" class="col-md-6 col-xs-12">
                                                                    <div class="row">
                                                                            <div class="all-contact-text">
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact">
                                                                                                    <input name="name" class="form-control" type="text" required="" placeholder="Name">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact">
                                                                                                    <input name="email" class="form-control" type="email" required="" placeholder="Email">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact">
                                                                                                    <input name="telephone" class="form-control" type="text" required="" placeholder="Tel">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                            <div class="main-contact contact-mrgn">
                                                                                                    <input name="subject" class="form-control" type="text" required="" placeholder="Subject">
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col-xs-12">
                                                                                            <div class="tnm-textarea">
                                                                                                    <textarea name="message" class="form-control" required="" placeholder="Message"></textarea>
                                                                                            </div>
                                                                                            <div class="submit">
                                                                                                    <input class="submit" type="submit" value="Send message">
                                                                                            </div>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            </form>
                                                            <div class="col-md-6 col-xs-12">
                                                                    <div id="map" style="width:100%;height:200px;background:yellow"></div>

                                                                    <script>
                                                                //     function myMap() {
                                                                //     var mapOptions = {
                                                                //         center: new google.maps.LatLng(26.8117, 79.0047),
                                                                //         zoom: 10,
                                                                //         mapTypeId: google.maps.MapTypeId.HYBRID
                                                                //     }
                                                                //     var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                                                                //     }

                                                                function myMap() {
  
                                                                var myCenter = new google.maps.LatLng(26.8117, 79.0047);
                                                                        var mapCanvas = document.getElementById("map");
                                                                                 var mapOptions = {center: myCenter, zoom: 18};
                                                                                 var map = new google.maps.Map(mapCanvas,mapOptions);
                                                                                var marker = new google.maps.Marker({
                                                                                 position: myCenter,
                                                                                          animation: google.maps.Animation.BOUNCE
                                                                                                 });
                                                                                                         marker.setMap(map);
                                                                                        }

                                                                </script>
                                                                           

                                                                    
                                                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Ih4YLaItT1TjC4_pWIioOdtNi8KB2Ac&callback=myMap"></script>
                                                            </div>
                                                            <p class="form-messege"></p>
                                                    </div>
                                            </div>
                                    </div>




									<!-- Here we use the Google Embed API to show Google Maps. -->
									<!-- In order for this to work in your project you will need to generate a unique API key.  -->
									
							</div>
							<div class="social-networks">
									<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
							</div>
							<div class="footer-copyright">
									<p>© 2018 Copyright @ <a href="www.prakharsaxena.rf.gd">Prakhar Saxena</a> </p>
							</div>
					</footer>
                </div>
                <div class="overlay"></div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    </body>
    </html>