<% include partials/header.ejs %>

<div class="container" >
<div class="row" style="margin-top: 70px; ">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 "  >
<div class="img-responsive">
<img id="dp" src="images/deepesh.jpg" style=" width: 90%; height: 90%; border-radius: 10px;" >
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style=" margin-top: 20%; float: center;  ">
<p id="tagline" align="center" style=" font-weight: bold;"> Architecture is a dangerous mix of power and importance.</p> <p align="center" style=" letter-spacing: 1.2px;margin-left: 15px; font-size: 20px; position: static; width: 90%;">Designers think everything done by someone else is awful, and that they could do it better themselves, which explains why I designed my own living room carpet, I suppose.</p>
</div>




</div>
</div>

</body>
</html>
